:root {
    font-family: 'Atlanticoeur', Arial;
    font-weight: normal;
    font-style: normal;
    color: $color-grey-6;
}

h1 {
    @include font-size-1;
    font-weight: 700;
    margin-bottom: 4.6rem;
    color: $color-grey-1;
    white-space: pre;
}

h2 {
    @include font-size-1;
    color: $color-grey-1;
    font-weight: 700;
    margin-top: 15rem;
    margin-bottom: 7.2rem;
    white-space: pre;
}

h3 {
    @include font-size-3;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    @include font-size-4;
}

p,
a {
    @include font-size-normal;
}