@font-face {
    font-family: 'Atlanticoeur-bold';
    src: url('~@/assets/fonts/Atlanticoeur-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Atlanticoeur-bold-italic';
    src: url('~@/assets/fonts/Atlanticoeur-BoldIta.otf') format('truetype');

}

@font-face {
    font-family: 'Atlanticoeur-light';
    src: url('~@/assets/fonts/Atlanticoeur-Light.otf') format('truetype');

}

@font-face {
    font-family: 'Atlanticoeur-light-italic';
    src: url('~@/assets/fonts/Atlanticoeur-LightIta.otf') format('truetype');
}

@font-face {
    font-family: 'Atlanticoeur-medium';
    src: url('~@/assets/fonts/Atlanticoeur-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Atlanticoeur-medium-italic';
    src: url('~@/assets/fonts/Atlanticoeur-MedIta.otf') format('truetype');
}

@font-face {
    font-family: 'Atlanticoeur-regular';
    src: url('~@/assets/fonts/Atlanticoeur-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Atlanticoeur-regular-italic';
    src: url('~@/assets/fonts/Atlanticoeur-RegIta.otf') format('truetype');
}