@use "variables";

/*****************************************/


/***************** LAYER *****************/


/*****************************************/

@mixin wrapper {
    padding-left: $wrapper-global-margin;
    padding-right: $wrapper-global-margin;
}

@mixin flexContainer($orientation: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $orientation;
    justify-content: $justify;
    align-items: $align;
}


/*****************************************/


/************** ATTRIBUTE ****************/


/*****************************************/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin blur {
    color: $color-grey-2;
    background: rgba(239, 239, 239, 0.5);
    box-shadow: -4px 0px 4px rgba(239, 239, 239, 0.2);
    backdrop-filter: blur(16px);
}


/*****************************************/


/*************** RESPONSIVE **************/


/*****************************************/


/*****************************************/


/***************** FONTS *****************/


/*****************************************/

@mixin font-size-1 {
    font-size: $font-extraLarge;
    line-height: $lineHeight-extraLarge;
}

@mixin font-size-2 {
    font-size: $font-large;
    line-height: $lineHeight-large;
}

@mixin font-size-3 {
    font-size: $font-smallLarge;
    line-height: $lineHeight-smallLarge;
}

@mixin font-size-4 {
    font-size: $font-extraNormal;
    line-height: $lineHeight-extraNormal;
}

@mixin font-size-xlarge {
    font-size: $font-xlarge;
    line-height: $lineHeight-xlarge;
}

@mixin font-size-normal {
    font-size: $font-normal;
    line-height: $lineHeight-normal;
}

@mixin font-size-footnote {
    font-size: $font-extraSmall;
    line-height: $lineHeight-extraSmall;
}

@mixin font-size-caption {
    font-size: $font-small;
    line-height: $lineHeight-small;
}

@mixin font-bold {
    font-family: 'Atlanticoeur-bold', Helvetica;
}

@mixin font-regular {
    font-family: 'Atlanticoeur-regular', Helvetica;
}

@mixin font-light {
    font-family: 'Atlanticoeur-light', Helvetica;
}


/*****************************************/


/**************** EFFECTS ****************/


/*****************************************/

@mixin hoverLink {
    &:hover {
        color: $color-primary;
        cursor: pointer;
        border-color: $color-primary;
        transition: all .5s;
        &,
        p,
        a {
            padding-left: 1rem;
        }
    }
}

@mixin hover {
    &:hover {
        color: $color-primary !important;
        cursor: pointer;
        border-color: $color-primary !important;
        transition: all .5s;
    }
}

@mixin hoverFull {
    &:hover {
        &,
        * {
            color: $color-primary !important;
            cursor: pointer;
            border-color: $color-primary !important;
            transition: all .5s;
        }
    }
}

@mixin hoverSvg {
    &:hover {
        &,
        * {
            color: $color-primary !important;
            cursor: pointer;
            border-color: $color-primary !important;
            transition: all .5s;
            fill: $color-primary;
        }
    }
}