@use "variables";

/*****************************************/
/***************** LAYER *****************/
/*****************************************/

@mixin wrapper {
    padding-left: $wrapper-global-margin;
    padding-right: $wrapper-global-margin;
}

/*****************************************/
/************** ATTRIBUTE ****************/
/*****************************************/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*****************************************/
/*************** RESPONSIVE **************/
/*****************************************/

/*****************************************/
/***************** FONTS *****************/
/*****************************************/

@mixin font-size-1 {
    font-size: $font-extraLarge;
    line-height: $lineHeight-extraLarge;
}

@mixin font-size-2 {
    font-size: $font-large;
    font-style: $lineHeight-large;
}

@mixin font-size-3 {
    font-size: $font-smallLarge;
    font-style: $lineHeight-smallLarge;
}

@mixin font-size-4 {
    font-size: $font-extraNormal;
    font-style: $lineHeight-extraNormal;
}

@mixin font-size-normal {
    font-size: $font-normal;
    font-style: $lineHeight-normal;
}

@mixin font-size-footnote {
    font-size: $font-extraSmall;
    font-style: $lineHeight-extraSmall;
}

.font-size-caption {
    font-size: $font-small;
    font-style: $lineHeight-small;
}