@use "variables";

/*****************************************/


/***************** LAYER *****************/


/*****************************************/

@mixin wrapper {
    padding-left: $wrapper-global-margin-mobile;
    padding-right: $wrapper-global-margin-mobile;
    @media screen and (min-width: $breackpoint-tablette) {
        padding-left: $wrapper-global-margin;
        padding-right: $wrapper-global-margin;
    }
}

@mixin wrapper-oversize($padding: false, $margin: false) {
    @media screen and (max-width: $breackpoint-tablette) {
        @if($margin) {
            margin-left: -$margin-5;
            margin-right: -$margin-5;
        }
        @if($padding) {
            padding-left: $margin-5;
            padding-right: $margin-5;
        }
    }
}

@mixin flexContainer($orientation: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $orientation;
    justify-content: $justify;
    align-items: $align;
}


/*****************************************/


/************** ATTRIBUTE ****************/


/*****************************************/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin blur($white: false) {
    color: $color-grey-2;
    backdrop-filter: blur(16px);
    @if($white) {
        background: rgba(256, 256, 256, 0.5);
        box-shadow: -4px 0px 4px rgba(256, 256, 256, 0.2);
    }
    @else {
        background: rgba(239, 239, 239, 0.5);
        box-shadow: -4px 0px 4px rgba(239, 239, 239, 0.2);
    }
}


/*****************************************/


/*************** RESPONSIVE **************/


/*****************************************/


/*****************************************/


/***************** FONTS *****************/


/*****************************************/

@mixin font-size-1 {
    font-size: $m-font-extraLarge;
    line-height: $m-lineHeight-extraLarge;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-extraLarge;
        line-height: $d-lineHeight-extraLarge;
    }
}

@mixin font-size-2 {
    font-size: $m-font-large;
    line-height: $m-lineHeight-large;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-large;
        line-height: $d-lineHeight-large;
    }
}

@mixin font-size-3 {
    font-size: $m-font-smallLarge;
    line-height: $m-lineHeight-smallLarge;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-smallLarge;
        line-height: $d-lineHeight-smallLarge;
    }
}

@mixin font-size-4 {
    font-size: $m-font-extraNormal;
    line-height: $m-lineHeight-extraNormal;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-extraNormal;
        line-height: $d-lineHeight-extraNormal;
    }
}

@mixin font-size-xlarge {
    font-size: $m-font-xlarge;
    line-height: $m-lineHeight-xlarge;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-xlarge;
        line-height: $d-lineHeight-xlarge;
    }
}

@mixin font-size-normal {
    font-size: $m-font-normal;
    line-height: $m-lineHeight-normal;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-normal;
        line-height: $d-lineHeight-normal;
    }
}

@mixin font-size-footnote {
    font-size: $m-font-extraSmall;
    line-height: $m-lineHeight-extraSmall;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-extraSmall;
        line-height: $d-lineHeight-extraSmall;
    }
}

@mixin font-size-caption {
    font-size: $m-font-small;
    line-height: $m-lineHeight-small;
    @media screen and (min-width: $breackpoint-tablette) {
        font-size: $d-font-small;
        line-height: $d-lineHeight-small;
    }
}

@mixin font-bold {
    font-family: 'Atlanticoeur-bold', Helvetica;
}

@mixin font-regular {
    font-family: 'Atlanticoeur-regular', Helvetica;
}

@mixin font-light {
    font-family: 'Atlanticoeur-light', Helvetica;
}


/*****************************************/


/**************** EFFECTS ****************/


/*****************************************/

@mixin hoverLink {
    transition: all .5s;
    &:hover {
        color: $color-primary;
        cursor: pointer;
        border-color: $color-primary;
        transition: all .5s;
        &,
        p,
        a {
            padding-left: 1rem;
        }
    }
}

@mixin hover {
    transition: all .5s;
    &:hover {
        color: $color-primary !important;
        cursor: pointer;
        border-color: $color-primary !important;
        transition: all .5s;
    }
}

@mixin hoverFull {
    transition: all .5s;
    &:hover {
        &,
        * {
            color: $color-primary !important;
            cursor: pointer;
            border-color: $color-primary !important;
            transition: all .5s;
        }
    }
}

@mixin hoverSvg {
    &:hover {
        &,
        * {
            color: $color-primary !important;
            cursor: pointer;
            border-color: $color-primary !important;
            transition: all .5s;
            fill: $color-primary;
        }
    }
}