@import "reset";
@import "base";
@import "layers";
@import "fonts";
@import "animations";


.btn.btn-rdv {
    padding: .8rem 1.2rem;
    @include font-size-4;
    color: $color-grey-6;
    border: 1px solid $color-grey--50;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
    &:hover {
        color: $color-primary;
        border: 1px solid $color-primary;
    }
}

.btn.btn-rdv+.btn.btn-rdv {
    margin-top: .8rem;
}

.animate__animated {
    --animate-duration: 500ms;
}

.align-right {
    text-align: right;
}