:root {
    font-family: 'Atlanticoeur', Arial;
    font-weight: normal;
    font-style: normal;
    color: $color-grey-6;
}


/****************************/


/*          FONTS           */


/****************************/

h1 {
    @extend .font-size-1;
    font-weight: 700;
    margin-bottom: 4.6rem;
    color: $color-grey-1;
}

h2 {
    @extend .font-size-1;
    color: $color-grey-1;
    font-weight: 700;
    margin-top: 15rem;
    margin-bottom: 7.2rem;
}

h3 {
    @extend .font-size-3;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

h4 {
    @extend .font-size-4;
}

p,
a {
    @extend .font-size-normal;
}

.btn.btn-rdv {
    padding: .8rem 1.2rem;
    @extend .font-size-4;
    color: $color-grey-6;
    border: 1px solid $color-grey--50;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
    &:hover {
        color: $color-grey-1;
        border: 1px solid $color-grey-1;
    }
}

.btn.btn-rdv+.btn.btn-rdv {
    margin-top: .8rem;
}

.animate__animated {
    --animate-duration: 500ms;
}

.align-right {
    text-align: right;
}