/****************************/


/*          SCREEN          */


/****************************/

$breackpoint-desktop: 1440px;
$breackpoint-tablette: 992px;
$breackpoint-mobile: 768px;
$wrapper-global-margin: 5.625vw;

/****************************/


/*          COLOR           */


/****************************/

$color-primary: #0057FF;
$color-grey--25: rgba(239, 239, 239, 0.25);
$color-grey--50: rgba(239, 239, 239, 0.5);
$color-grey--75: rgba(239, 239, 239, 0.75);
$color-grey-1--50: rgba(22, 22, 22, .50);
$color-grey-1--85: rgba(22, 22, 22, .85);
$color-grey-1: #222222;
$color-grey-2: #353535;
$color-grey-3: #545454;
$color-grey-4: #838383;
$color-grey-5: #CCCCCC;
$color-grey-6: #EFEFEF;
$color-neutral: #fff;

/****************************/


/*          FONTS           */


/****************************/

//H1
$font-extraLarge: 4.8rem;
$lineHeight-extraLarge: 5.2rem;
//H2
$font-large: 3.13rem;
$lineHeight-large: 3.2rem;
//H3
$font-smallLarge: 2.6rem;
$lineHeight-smallLarge: 2.8rem;
//H4
$font-extraNormal: 2rem;
$lineHeight-extraNormal: 2.4rem;
//P
$font-normal: 1.6rem;
$lineHeight-normal: 2rem;
$font-small: 1.28rem;
$lineHeight-small: 2rem;
$font-extraSmall: 1.024rem;
$lineHeight-extraSmall: 2rem;
$font-xlarge: 15rem;
$lineHeight-xlarge: 15rem;

/****************************/


/*        ATTRIBUTES        */


/****************************/

$borderRadius-1: 1.2rem;
$borderRadius-2: .8rem;
$borderRadius-3: .4rem;
$margin-1: 5.2rem;
$margin-2: 3.2rem;
$margin-3: 2.8rem;
$margin-4: 2.4rem;
$margin-5: 1.2rem;
$margin-6: .8rem;