/****************************/


/*          SCREEN          */


/****************************/

// Change breakpoint in app.vue if you have to do some change
$breackpoint-desktop: 1440px;
$breackpoint-tablette: 992px;
$breackpoint-mobile: 768px;

/****************************/


/*          COLOR           */


/****************************/

$color-primary: var(--color-primary);
$color-grey--25: var(--color-grey--25);
$color-grey--50: var(--color-grey--50);
$color-grey--75: var(--color-grey--75);
$color-grey-1--50: var(--color-grey-1--50);
$color-grey-1--85: var(--color-grey-1--85);
$color-grey-1: var(--color-grey-1);
$color-grey-2: var(--color-grey-2);
$color-grey-3: var(--color-grey-3);
$color-grey-4: var(--color-grey-4);
$color-grey-5: var(--color-grey-5);
$color-grey-6: var(--color-grey-6);
$color-neutral: var(--color-neutral);

/****************************/


/*          FONTS           */


/****************************/


/*********** MOBILE *********/

//H1
$m-font-extraLarge: 2rem;
$m-lineHeight-extraLarge: 2.4rem;
//H2
$m-font-large: 2rem;
$m-lineHeight-large: 2.4rem;
//H3
$m-font-smallLarge: 2rem;
$m-lineHeight-smallLarge: 2.4rem;
//H4
$m-font-extraNormal: 1.8rem;
$m-lineHeight-extraNormal: 2rem;
//P
$m-font-normal: 1.6rem;
$m-lineHeight-normal: 2rem;
$m-font-small: 1.28rem;
$m-lineHeight-small: 2rem;
$m-font-extraSmall: 1.024rem;
$m-lineHeight-extraSmall: 2rem;
$m-font-xlarge: 2.8rem;
$m-lineHeight-xlarge: 3rem;

/*********** DESKTOP *********/

//H1
$d-font-extraLarge: 4.8rem;
$d-lineHeight-extraLarge: 5.2rem;
//H2
$d-font-large: 3.13rem;
$d-lineHeight-large: 3.2rem;
//H3
$d-font-smallLarge: 2.6rem;
$d-lineHeight-smallLarge: 2.8rem;
//H4
$d-font-extraNormal: 2rem;
$d-lineHeight-extraNormal: 2.4rem;
//P
$d-font-normal: 1.6rem;
$d-lineHeight-normal: 2rem;
$d-font-small: 1.28rem;
$d-lineHeight-small: 2rem;
$d-font-extraSmall: 1.024rem;
$d-lineHeight-extraSmall: 2rem;
$d-font-xlarge: 15rem;
$d-lineHeight-xlarge: 15rem;

/****************************/


/*        ATTRIBUTES        */


/****************************/

$borderRadius-0: 1.6rem;
$borderRadius-1: 1.2rem;
$borderRadius-2: .8rem;
$borderRadius-3: .4rem;
$margin-1: 5.2rem;
$margin-2: 3.2rem;
$margin-3: 2.8rem;
$margin-4: 2.4rem;
$margin-5: 1.2rem;
$margin-6: .8rem;
$wrapper-global-margin: 5.625vw;
$wrapper-global-margin-mobile: $margin-4+$margin-5;