@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-BoldIta.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-Light.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-LightIta.otf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-Medium.otf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-MedIta.otf') format('truetype');
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atlanticoeur';
    src: url('~@/assets/fonts/Atlanticoeur-RegIta.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}